<body>
  <article class="parallax-wrapper">

    <!-- Header section -->
    <header class="back">
      <!-- Parallax elements -->
      <img src="../assets/angula.png" class="parallax-el2" data-paralax="1"/>
      <img src="https://svgshare.com/i/r3a.svg" class="parallax-el" data-paralax="3"/>
      <img src="https://svgshare.com/i/r1x.svg" class="parallax-el" data-paralax="4"/>
      <img src="https://svgshare.com/i/r3Q.svg" class="parallax-el" data-paralax="5"/>
      <img src="https://svgshare.com/i/uV1.svg" class="parallax-el" data-paralax="6"/>
      <!-- Main title (a parallax element as well) -->
      <h1 style="font-size: 3rem; color: white; margin-top: 500px;"><span style="display: block; text-align: center;" data-paralax="7">👩‍🚀🚀🌌</span>Bem vindos ao Code Review</h1>
    </header>

    <!-- Story section -->
    <section class="story">
      <div class="inner">
        <h4 style="margin-top: 450px;">Sistema individual que integra angula, html, css, scss, keyframes, javascript, typescript. Voçê encontrará aqui rotas, proteção de rotas, estruturação, paginação, autenticação de usuarios, testes unitários, teste de cenarios, teste mock, teste de interface, teste E2E, efeitos visuais avançados SASS, requisições a back-end local, fake api, conexão com banco de dados, formularios, directivas, data binding e suas variações, interfaces, services, ngrx, lazy loading, traduções em 3 linguagens, responsividade, troca de tema. Esperamos que se divirtam!</h4>
        <div class="block">
          <img src="../../../../assets/angula preto.png" width="300px" height="300px"/>
          <p> Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações.</p>
        </div>

        <div class="block">
          <div>
            <p>HTML5 é uma linguagem de marcação para a World Wide Web e é uma tecnologia chave da Internet, originalmente proposto por Opera Software. É a quinta versão da linguagem HTML.</p>
          </div>
          <img src="../../../../assets/HTML5.png" width="300px" height="auto"/>
        </div>

        <div class="block">
          <img src="../../../../assets/css3.png" width="250px" height="300px"/>
          <p> CSS é chamado de linguagem Cascading Style Sheet e é usado para estilizar elementos escritos em uma linguagem de marcação como HTML. O CSS separa o conteúdo da representação visual do site.</p>
        </div>


        <div class="block">
          <div>
            <p>Sass é uma linguagem de folhas de estilo concebida inicialmente por Hampton Catlin e desenvolvida por Natalie Weizenbaum. Depois de suas versões iniciais, Weizenbaum e Chris Eppstein continuaram a estender Sass com SassScript, uma simples linguagem de script usada em arquivos Sass</p>
          </div>
          <img src="../../../../assets/sass.png" width="300px" height="auto"/>
        </div>

        <div class="block">

          <p style="color: #fefefe; margin-top: 450px;" > <b>JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma. Juntamente com HTML e CSS, o JavaScript é uma das três principais tecnologias da World Wide Web.</b> </p>
        </div>

        <!-- Credits section -->
        <section class="credits">
          <address class="credits">
            <div class="row">

              <span class="job"></span>
              <span class="authors-row">
                <strong data-style="red"><a rel="author" href="https://openai.com/blog/chatgpt" target="_blank"></a></strong>
              </span>

            </div>
            <div class="row">
              <span class="job"></span>
              <span class="authors-row">
                <strong data-style="green"><a rel="author" href="https://www.midjourney.com/" target="_blank"></a></strong>
              </span>
            </div>
            <div class="row">
              <span class="job"></span>
              <span class="authors-row">
                <strong data-style="blue"><a rel="author" href="mailto:jers1k@gmail.com" target="_blank"></a></strong>
              </span>
            </div>
          </address>
        </section>
      </div>
      <!-- Credits section background image  -->
      <img class="credits-img" src="../../../../assets/js2.jpg" width="100%" height="auto"/>
    </section>
  </article>