<div class="home-content2">
    <div class="video">
        <div class="textoVideo">
            <h1>Conteúdo para as pessoas que estão inciando no ramo de desenvolvimente de sistemas. </h1>
        </div>
        <div class="containerVideos">
            <div class="card1">
                <h1>Introdução ao Angular</h1>
                <iframe style="width: 100%; height: 250px;" width="420" height="315"
                    src="https://www.youtube.com/embed/ZSJBCtMMMrs">
                </iframe>
            </div>
            <div class="card2">
                <h1>Introdução ao JS</h1>
                <iframe style="width: 100%; height: 250px;" width="600" height="500"
                    src=" https://www.youtube.com/embed/Ptbk2af68e8"> </iframe>
            </div>
            <div class="card3">
                <h1>Introdução ao SASS</h1>
                <iframe style="width: 100%; height: 250px;" width="420" height="315"
                    src="https://www.youtube.com/embed/WJSJCduJCQM"> </iframe>
            </div>
            <div class="card4">
                <h1>Introdução a Devops</h1>
                <iframe style="width: 100%; height: 250px;" width="420" height="315"
                    src="https://www.youtube.com/embed/j6yImUbs4OA"> </iframe>
            </div>
        </div>
    </div>
</div>


    <div class="conteudoAngular">
        <div class="paragrafo">
            <h1>
                O que é o Angular e para que serve?
            </h1>
            <h2>
                Frameworks SPA atualmente são um padrão de mercado quando
                falamos sobre desenvolvimento front-end. Neste artigo, vamos abordar o Angular,
                um dos mais populares.
            </h2>
        </div>
    </div>



    <div class="conteudoAngular2">
        <p>
            Frameworks SPA atualmente são um padrão de mercado quando falamos sobre desenvolvimento front-end. Neste artigo, vamos abordar um dos mais populares frameworks JavaScript da atualidade: o Angular.
        </p>
        <h1>Afinal, o que é o Angular?</h1>
        <p>É um framework JavaScript de código aberto mantido pela Google para a construção de SPA (sigla para Single Page Applications ou Aplicações de Página Única). Resumidamente, uma SPA é basicamente uma aplicação web construída em uma só página, na qual a interação e a navegação entre as sessões de uma página ocorrem de maneira a qual não é necessário recarregar a página em cada uma dessas mudanças.

            Sua finalidade é nos dar ferramentas necessárias para criação de aplicações SPA, além disso também deixa o desenvolvimento deste tipo de aplicação mais simples e otimizado. Com ele, podemos desenvolver aplicações web voltadas tanto para resoluções desktop quanto para resoluções mobile, tornando-as dinâmicas, modernas e escaláveis.
            
            Com o Angular, temos um novo paradigma de desenvolvimento focado nos dados da aplicação. Ele não utiliza uma virtualização do DOM para manipulá-lo: ele utiliza mecanismos próprios de detecção de alterações na interface, alterações tas disparadas principalmente por uma estrutura chamada Two-Way Data Binding.
            
            O Two-Way Data Binding mantém o model e a view sempre atualizados entre si, ou seja: sempre que algum model é atualizado, essa alteração se reflete automaticamente na view.</p>
        <h1>AngularJS ou somente Angular?</h1>
        <p>
            Provavelmente, você já ouviu falar de Angular e AngularJS e pode ter ficado em dúvida se é a mesma tecnologia, porque que uma tem “JS” no nome e a outra não. A resposta é: embora o Angular seja a evolução após o AngularJS, eles praticamente são frameworks diferentes.

            O AngularJS começou em 2009, sendo definido pelas versões 1.x. Já o Angular (antes conhecido como “Angular 2”, publicado em 2016) é considerado a versão 2 mais as versões superiores. Muitos pensam que o Angular é uma continuação do AngularJS em termos de código, o que não é verdade.

            A versão 2, chamada hoje somente de Angular, foi uma reescrita completa do código e tornou-se uma arquitetura completamente diferente, mantendo apenas o nome – porém sem o JS no final. Nesta nova ferramenta, foram seguidos padrões da web moderna, técnicas e boas práticas que foram aprendidas com os erros cometidos no desenvolvimento da ferramenta anterior.

            O AngularJS tinha como linguagem padrão o JavaScript. Já o Angular ainda continua baseado no JavaScript, mas através do TypeScript. Com isso, ele passou a oferecer capacidades interessantes antes oferecidas somente pelo TypeScript.

        </p>
        <h1>Características</h1>
        <p>Suas principais características são:

            • Suporte cross-platform: esse framework fornece suporte a múltiplas plataformas de desenvolvimento. O Angular pode ser utilizado para criar aplicações web SPA, aplicações mobile (com o suporte do Ionic, por exemplo) ou até mesmo aplicações desktop (com o suporte do Electron).
            
            Mesmo em ambientes distintos, a API do Angular permanece praticamente a mesma, o que facilita a curvatura de adoção e aprendizagem em múltiplos ambientes de desenvolvimento;
            
            • Integração e suporte à todas as fases de desenvolvimento: provê ferramental e suporte para todas as fases de desenvolvimento, desde a escrita do código em si (apoiando-se bastante na API e no sistema de tipos do TypeScript) até a criação de fluxos de teste (com o apoio principalmente do Karma – uma biblioteca para escrita de testes JavaScript), passando pelo suporte excelente à criação de animações, o provisionamento de estruturas de acessibilidade e até mesmo o scaffolding de projetos através do Angular CLI;
            
            • Produtividade aliada à performance: consegue oferecer suporte ao desenvolvimento rápido de aplicações através de uma API simples, bem estruturada e bem documentada, o que acaba trazendo bastante produtividade.
            
            Por fim, por mais que o Angular não utilize o conceito de Virtual DOM (conceito utilizado por outros frameworks, como o React), ainda sim o Angular oferece uma performance bem interessante, principalmente com a Ivy, a engine de renderização utilizada desde o Angular 6+.</p>
        <h1>
            
        </h1>
        </div>

        <div class="efeitos">
            <section id="content-body">
             

                <section id="introduction">
                    <div class="cards">
                        <div class="design-card active">
                            <div>
                                <h3>UI/UX Design</h3>
                                <i class="fa-solid fa-wand-magic-sparkles"></i>
                            </div>
                            <p>Create design products with unique ideas that matters</p>
                            <a href="">20 PROJECTS</a>
                        </div>
                        <div class="design-card">
                            <div>
                                <h3>Frontend Development</h3>
                                <i class="fa-solid fa-code"></i>
                            </div>
                            <p>Making the Web Look Good</p>
                            <a href="">20 PROJECTS</a>
                        </div>
                        <div class="design-card">
                            <div>
                                <h3>Backend Development</h3>
                                <i class="fa-solid fa-terminal"></i>
                            </div>
                            <p>Building the Web’s Backbone</p>
                            <a href="">20 PROJECTS</a>
                        </div>
                    </div>
                    <div class="introduction-text">
                        <p>Introduction</p>
                        <h2>Hello! I'm Tanmoy Saha</h2>
                        <h4>Crafting User Experiences that Delight and Inspire</h4>
                        <p></p>
                    </div>
                    <div class="introduction-text" style="display: none;">
                        <p>Introduction</p>
                        <h2>Hello! I'm Tanmoy Saha</h2>
                        <h4> The Web’s & Mobile’s Magician</h4>
                        <p></p>
                    </div>
                    <div class="introduction-text" style="display: none;">
                        <p>Introduction</p>
                        <h2>Hello! I'm Tanmoy Saha</h2>
                        <h4>Coding with Efficiency</h4>
                        <p></p>
                    </div>
                </section>
                <div class="body-part-2">
                    <div class="hoodie-guy-animation-class">
                        <div class="hoodie-guy"></div>
                        <div class="circle">
                            <span style="--i:1;"><img src="../../../../assets/SVGIcons/flutter.svg" height="40px"></span>
                            <span style="--i:2;"><img src="../../../../assets/SVGIcons/python.svg" height="40px"></span>
                            <span style="--i:3;"><img src="../../../../assets/SVGIcons/adobe-photoshop.svg" height="40px"></span>
                            <span style="--i:4;"><img src="../../../../assets/SVGIcons/django.svg" height="40px"></span>
                            <span style="--i:5;"><img src="../../../../assets/SVGIcons/adobe-premiere-pro.svg" height="40px"></span>
                            <span style="--i:6;"><img src="../../../../assets/SVGIcons/html-5.svg" height="40px"></span>
                            <span style="--i:7;"><img src="../../../../assets/SVGIcons/figma.svg" height="40px"></span>
                            <span style="--i:8;"><img src="../../../../assets/SVGIcons/css3.svg" height="40px"></span>
                            <span style="--i:9;"><img src="../../../../assets/SVGIcons/javascript.svg" height="40px"></span>
                            <span style="--i:10;"><img src="../../../../assets/SVGIcons/adobe-illustrator.svg" height="40px"></span>
                            <span style="--i:11;"><img src="../../../../assets/SVGIcons/dart.svg" height="40px"></span>
                            <span style="--i:12;"><img src="../../../../assets/SVGIcons/PostgreSQL-Dark.svg" height="40px"></span>
                            <span style="--i:13;"><img src="../../../../assets/SVGIcons/MySQL-Dark.svg" height="40px"></span>
                            <span style="--i:14;"><img src="../../../../assets/SVGIcons/Firebase-Dark.svg" height="40px"></span>
                            <span style="--i:15;"><img src="../../../../assets/SVGIcons/Github-Dark.svg" height="40px"></span>
                        </div>
                    </div>
                    <div class="background-circle"></div>
                </div>
            </section>
        </div>
   
