<div class="efeitos">
    <section id="content-body">
        <section id="introduction">
            <app-button-efeito></app-button-efeito>
        </section>
        <div class="body-part-2">
            <div class="TituloPrincipal">
                <div class="loader">
                    <svg viewBox="0 0 80 80">
                        <circle id="test" cx="40" cy="40" r="32"></circle>
                    </svg>
                </div>
                <div class="loader triangle">
                    <svg viewBox="0 0 86 80">
                        <polygon points="43 8 79 72 7 72"></polygon>
                    </svg>
                </div>
                <div class="loader">
                    <svg viewBox="0 0 80 80">
                        <rect x="8" y="8" width="64" height="64"></rect>
                    </svg>
                </div>
            </div>
            <div class="hoodie-guy-animation-class">
                <div class="hoodie-guy"></div>
                <div class="circle">
                    <span style="--i:1;"><img src="../../../../assets/SVGIcons/flutter.svg" height="40px"></span>
                    <span style="--i:2;"><img src="../../../../assets/SVGIcons/python.svg" height="40px"></span>
                    <span style="--i:3;"><img src="../../../../assets/SVGIcons/adobe-photoshop.svg" height="40px"></span>
                    <span style="--i:4;"><img src="../../../../assets/SVGIcons/django.svg" height="40px"></span>
                    <span style="--i:5;"><img src="../../../../assets/SVGIcons/adobe-premiere-pro.svg" height="40px"></span>
                    <span style="--i:6;"><img src="../../../../assets/SVGIcons/html-5.svg" height="40px"></span>
                    <span style="--i:7;"><img src="../../../../assets/SVGIcons/figma.svg" height="40px"></span>
                    <span style="--i:8;"><img src="../../../../assets/SVGIcons/css3.svg" height="40px"></span>
                    <span style="--i:9;"><img src="../../../../assets/SVGIcons/javascript.svg" height="40px"></span>
                    <span style="--i:10;"><img src="../../../../assets/SVGIcons/adobe-illustrator.svg" height="40px"></span>
                    <span style="--i:11;"><img src="../../../../assets/SVGIcons/dart.svg" height="40px"></span>
                    <span style="--i:12;"><img src="../../../../assets/SVGIcons/PostgreSQL-Dark.svg" height="40px"></span>
                    <span style="--i:13;"><img src="../../../../assets/SVGIcons/MySQL-Dark.svg" height="40px"></span>
                    <span style="--i:14;"><img src="../../../../assets/SVGIcons/Firebase-Dark.svg" height="40px"></span>
                    <span style="--i:15;"><img src="../../../../assets/SVGIcons/Github-Dark.svg" height="40px"></span>
                </div>
            </div>
            <div class="background-circle"></div>
        </div>
    </section>
</div>
<div class="segundoEfeito">
    <div class="efeito1">
        <div class="wrapper">
            <div class="card">
                <div class="poster"><img src="https://vertentesdocinema.com/wp-content/uploads/2023/07/oppenheimer-novo-poster.jpg" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Oppenheimer</h1>
                    <h2>2023 • PG • 3hr 01min</h2>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>4.2/5</span>
                    </div>
                    <div class="tags">
                        <span class="tag red">Drama</span>
                        <span class="tag">Suspense</span>
                    </div>
                    <p class="desc">
                        O físico J. Robert Oppenheimer trabalha com uma equipe de cientistas durante o Projeto Manhattan, levando ao desenvolvimento da bomba atômica.
                    </p>
                    <div class="cast">
                        <h3>Atores</h3>
                        <ul>
                            <li><img src="https://startefacts.com/upload/editor/Cillian-Murphy-Peaky-Blinders.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                            <li><img src="https://www.mapadoceu.com.br/photo/astro/robert-downey-jr.jpg" alt="Rebecca Floyd" title="Rebecca Floyd"></li>
                            <li><img src="https://s2-vogue.glbimg.com/x9hkx4PmcON9gop7rM4OIQQuMgY=/0x0:620x438/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_5dfbcf92c1a84b20a5da5024d398ff2f/internal_photos/bs/2022/8/0/2aaRr8RSmvRLmYqWL7iQ/2019-01-04-gettyimages-1074849570.jpg" alt="Antonio Herrera" title="Antonio Herrera"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3313120:1671208240/Barbie.jfif?f=default&$p$f=e923537" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Barbie</h1>
                    <h2>2023 • 1 h 54min</h2>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>4/5</span>
                    </div>
                    <div class="tags">
                        <span class="tag pink">Comedia</span>
                        <span class="tag">Drama</span>
                    </div>
                    <p class="desc">
                        Depois de ser expulsa da Barbieland por ser uma boneca de aparência menos do que perfeita, Barbie parte para o mundo humano em busca da verdadeira felicidade.
                    </p>
                    <div class="cast">
                        <h3>Atores</h3>
                        <ul>
                            <li><img src="https://p2.trrsf.com/image/fget/cf/1200/1200/middle/images.terra.com/2023/07/22/1791395960-margot-robbie.jpg"></li>
                            <li><img src="https://br.web.img2.acsta.net/pictures/16/05/17/17/28/208580.jpg"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="https://movies.universalpictures.com/media/fstx-montage1sheet2-rgb-1-64108e93e63dd-1.jpg" alt="Location Unknown"></div>
                <div class="details">
                    <h1>Velozes e Furiosos 10</h1>
                    <h2>2023 • 2hr 21min</h2>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.7/5</span>
                    </div>
                    <div class="tags">
                        <span class="tag blue">Ação</span>
                        <span class="tag">Aventura</span>
                    </div>
                    <p class="desc">
                        Dom Toretto e sua família precisam lidar com o adversário mais letal que já enfrentaram. Alimentada pela vingança, uma ameaça terrível emerge das sombras do passado para destruir o mundo de Dom e todos que ele ama.
                    </p>
                    <div class="cast">
                        <h3>Atores</h3>
                        <ul>
                            <li><img src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-492532708-copy.jpg?resize=1200:*"></li>
                            <li><img src="https://st1.uvnimg.com/2c/d0/0e4ba288464aa0a3360c47c53117/jason-momoa-7.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="terceiroEfeito">
    <app-efeitos-component-auxiliar></app-efeitos-component-auxiliar>
</div>