.conteudoAngular2{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
        font-size: 1rem;
    }
    h1{
        font-size: 1.3rem;
    }
  }
  
  .efeitos{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    background-color: #3e3e3e;
  }
  

/* ---------- SECTION BODY CONTENT ---------- */
#content-body {
    width: 100%;
    display: flex;
    background-color: #2d2e32;
    align-items: flex-start;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
    max-height: 100vh;
  }
  
  .developer-intro {
    display: flex;
    align-items: center;
  }
  
  .developer-intro p {
    padding: 5px 10px;
    margin: 0 20px 0 0;
    background-color: #64f4ac;
    color: #2d2e32;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2.5px;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .developer-intro p:hover {
    font-weight: 900;
  }
  
  .body-title h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.5px;
    padding: 35px 0 0 0;
  }
  
  .body-title p {
    font-size: 12px;
    padding: 20px 0;
    color: #cacaca;
    font-weight: 500;
    line-height: 25px;
  }
  
  .body-title a {
    font-size: 16px;
    color: #64f4ac;
    font-weight: 600;
    padding: 20px 0;
    margin: 20px 0;
  }
  
  .body-tail {
    display: flex;
    align-items: flex-start;
    padding: 100px 0 0 0;
  }
  
  .body-tail p {
    color: #cacaca;
    font-size: 16px;
    font-weight: 500;
    padding: 0 40px 0 5px;
  }
  
  .body-part-2 {
    position: relative;
    margin-right: 50px;
  }
  
  .background-circle {
    background: #28292d;
    border-radius: 50%;
    width: 550px;
    height: 550px;
    z-index: 9;
    box-shadow: 0 0 20px #00000080;
  }
  
  .hoodie-guy {
    position: absolute;
    background: url(../../../../assets/image-removebg-preview.png);
    top: 100px;
    height: 350px;
    width: 350px;
    background-size: cover;
    margin-top: 100px;
    margin-left: 100px;
  }
  
  .circle {
    position: relative;
    top: 350px;
    left: 250px;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: animateCircle 40s linear infinite;
  }
  
  @keyframes animateCircle {
    0% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
        translateY(-30px);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
        translateY(-30px);
    }
  }
  
  .circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2e32;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 15))) translateZ(300px);
  }
  
  .circle span img {
    position: relative;
    top: 5px;
    left: 5px;
    object-fit: cover;
  }

/* ----------INTRODUCTION---------- */
#introduction {
    width: 50%;
    height: 100vh;
    background-color: #25262a;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .cards {
    min-width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .design-card {
    max-width: 80%;
    min-height: 150px;
    background-color: #2d2e32;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000040;
    transition: 0.5s ease;
  }
  
  .design-card:hover {
    box-shadow: 0 0 15px #00000080;
    cursor: pointer;
  }
  
  .design-card.active {
    background-color: #00b840;
  }
  
  .design-card.active p {
    color: #000000;
    font-weight: 700;
  }
  
  .design-card div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    transition: 0.3s ease;
  }
  
  .design-card:hover div {
    color: #64f4ac;
  }
  
  .design-card div h3 {
    font-weight: 500;
  }
  
  .design-card:hover div h3 {
    font-weight: 600;
  }
  
  .design-card p {
    font-size: 14px;
    font-weight: 600;
    color: #7c7d81;
  }
  
  .design-card a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .design-card:hover a {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  .introduction-text {
    display: block;
    min-width: 50%;
    padding-right: 175px;
  }
  
  .introduction-text p:nth-child(1) {
    font-size: 14px;
    color: #7c7d81;
    font-weight: 800;
  }
  
  .introduction-text h2 {
    margin: 20px 0;
  }
  
  .introduction-text h4 {
    font-size: 26px;
    font-style: italic;
  }
  
  .introduction-text p {
    font-size: 18px;
    color: #7c7d81;
    font-weight: 600;
  }
  
  /* ----------LATEST WORKS---------- */
  #latest-works {
    min-height: 150vh;
    background-color: #25262a;
    padding: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-project {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .latest-work-title h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin: 0;
  }
  
  .latest-work-title p {
    font-size: 14px;
    color: #7c7d81;
    font-weight: 400;
    margin: 0;
  }
  
  .project-card {
    min-width: 35vw;
    min-height: 60vh;
    max-height: 80vh;
    background-color: #2d3037;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .project-card-1 {
    background: linear-gradient(180deg, #16191e, #252628);
  }
  
  .project-card-2 {
    background: linear-gradient(225deg, #2c2940, #5a4073);
  }
  
  .project-card-3 {
    background: linear-gradient(225deg, #01403A, #025951);
  }
  
  .project-card .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .project-card .title h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
  }
  
  .project-card .title .tech-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .project-card .title .tech-stack p {
    font-size: 12px;
    background-color: #7c7d8180;
    color: #fff;
    margin: 0 5px;
    padding: 5px;
    border-radius: 3px;
    max-height: 25px;
  }
  
  .project-card img {
    position: relative;
  }
  
  .project-img-1 {
    height: 50vh;
    top: 75px;
    left: 15px;
    object-fit: cover;
    transform: scale(1.4) rotate(-5deg);
    transition: 0.3s ease-in-out;
  }
  
  .project-card:hover .project-img-1{
    transform: scale(1.6) rotate(-5deg);
  }
  
  .project-img-2 {
    width: 20vw;
    height: 27vh;
    object-fit: cover;
    object-position: top;
    top: 100px;
    left: 150px;
    transform: scale(1.5);
    border-radius: 10px;
    box-shadow: -10px 10px 10px #00000080;
    transition: 0.5s ease;
  }
  
  .project-card:hover .project-img-2 {
    box-shadow: -20px 20px 20px #00000080;
  }
  
  .project-img-3 {
    width: 30vw;
    top: 50px;
    left: 75px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #00000040;
    transition: 0.5s ease;
  }
  
  .project-card:hover .project-img-3 {
    box-shadow: -20px -20px 20px #00000040;
  }
  
  .all-projects a {
    color: #64f4ac;
  }
  
  .all-projects a h3 {
    font-size: 26px;
  }
  
  .all-projects p {
    font-size: 14px;
    color: #7c7d81;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 26px;
  }
  

//cardss

.segundoEfeito{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  background-color: #2D2E32;
  flex-wrap: nowrap;
}
.efeito1{
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}

.terceiroEfeito{
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding-top: 7%;
  background-color: black;
}


.TituloPrincipal{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

}


.loader {
  --path: #ffffff;
  --dot: #ed1b76;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}
html {
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
