<div class="container">
    <div class="conteudoTchu">
        <div class="titulo">
            <div class="container">
                <button class="btn" href="#">Testes automatizados</button>
              </div>
        </div>
        <div class="logoInicial">
            <img src="../../../../assets/1612231279945-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="conteudoTestesTotais">
        <div class="conteudoTeste">
            <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.alura.com.br/assets/api/cursos/512/angular-testes-automatizados-jasmin-karma.png)"></div>
                  <ul class="details">
                    <li class="author"><a href="#">Unitarios</a></li>
                    <li class="author"><a href="#">e2e</a></li>
                    <li class="author"><a href="#">Mock</a></li>
                    <li class="author"><a href="#">Interface</a></li>
                    <li class="author"><a href="#">Cenario</a></li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Quais os tipos de testes?</h1>
                  <p> O teste automatizado é a aplicação de ferramentas de software para automatizar um processo manual conduzido por humanos de revisão e validação de um produto de software.</p>
                  <p class="read-more">
                    <a href="#">Saber Mais</a>
                  </p>
                </div>
              </div>
              <div class="blog-card alt">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.alura.com.br/assets/api/cursos/512/angular-avancando-testes-automatizados.png)"></div>
                  <ul class="details">
                    <li class="tags">
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Testes Unitarios</h1>
                  <p>São testes que verificam se uma parte específica do código, costumeiramente a nível de função, está funcionando corretamente</p>
                  <p class="read-more">
                    <a href="#">Saber Mais</a>
                  </p>
                </div>
              </div>
        </div>
        <div class="conteudoTeste">
            <div class="blog-card alt">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.alura.com.br/assets/api/cursos/512/angular-avancando-testes-automatizados.png)"></div>
                  <ul class="details">
                    <li class="tags">
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Testes end-to-end</h1>
                  <p>Os testes end-to-end são utilizados no processo de desenvolvimento de software para testar a função e os níveis de desempenho de uma aplicação quando utilizada como um produto.</p>
                  <p class="read-more">
                    <a href="#">Saber Mais</a>
                  </p>
                </div>
              </div>
              <div class="blog-card alt">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.alura.com.br/assets/api/cursos/512/angular-avancando-testes-automatizados.png)"></div>
                  <ul class="details">
                    <li class="tags">
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>mock test</h1>
                  <p>São normalmente criados para testar o comportamento de outros objetos. Em outras palavras, os objetos mock são objetos “falsos” que simulam o comportamento de uma classe ou objeto “real” para que possamos focar o teste na unidade a ser testada.</p>
                  <p class="read-more">
                    <a href="#">Saber Mais</a>
                  </p>
                </div>
              </div>
        </div>
        <div class="conteudoTeste2">
            <div class="blog-card alt">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.alura.com.br/assets/api/cursos/512/angular-avancando-testes-automatizados.png)"></div>
                  <ul class="details">
                    <li class="tags">
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Testes de interface</h1>
                  <p>O teste da interface do utilizador (IU), por vezes conhecido como teste GUI dependendo do contexto, é uma série de acções utilizadas para medir o desempenho e a funcionalidade global dos elementos visuais de uma aplicação.</p>
                  <p class="read-more">
                    <a href="#">Saber Mais</a>
                  </p>
                </div>
              </div>
              <div class="blog-card alt">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.alura.com.br/assets/api/cursos/512/angular-avancando-testes-automatizados.png)"></div>
                  <ul class="details">
                    <li class="tags">
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Testes de cenário</h1>
                  <p>É possível incluir cenários de teste em testes de unidade para teste automatizado usando o método testDriver.runTestScenario().</p>
                  <p class="read-more">
                    <a href="#">Saber Mais</a>
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>